<div class="container">
  <div class="container-fluid my-2">
    <div class="panel panel-primary">
      <div class="alert-info text-center">
        <h3>Ensembles des Locations de la SCPT</h3>
      </div>
      <!--      <a href="#" class="btn btn-primary" >Ajouter une representation <i class="fa fa-plus"></i></a>-->
      <br>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Numero locale</th>
            <th>Montant</th>
            <th>Representation</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let local of locales | async">
            <td>{{local.numLocale}}</td>
            <td>{{local.montant}}</td>
            <td>{{local.representation}}</td>
            <td>{{local.Status}}</td>
            <td><button (click)="deleteLocal(rep.id)" class="btn btn-danger">Delete</button>
              <button (click)="localUpdate(rep.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="localDetail(rep.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

