<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-8">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="/admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item " ><a href="/admin/payments">Paiements</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="#">Gestion de paiements</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                    <div class="row">
                        <div class="col-xl-5 col-md-6  mr-1">
                          <h3 class="mb-0"><a type="button" class="btn btn-outline-info" (click)="getMensualites()"> <i class="fa fa-list"></i>&nbsp; Paiements effectuer</a> </h3>
                        </div>
                        <div class="col-xl-5 col-md-6  mr-1">
                          <h3 class="mb-0"><a type="button" class="btn btn-outline-primary" (click)="exportToExcel()"> <i class="fa fa-file-export"></i>&nbsp; Exporter sur Excel</a> </h3>
                        </div>
                      </div>
                </div>
                  <div class="card-header border-0">
                    <h5>Recherche Nationale</h5>
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                     
                        <form [formGroup]="searchForm" (submit)="onSubmitSearch()">
                          <div class="row">
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="mois" class="form-control" >
                                  <option  value="">--Choisir un mois--</option>
                                  <option *ngFor="let item of months" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="year" class="form-control" >
                                  <option  value="">--Choisir une année--</option>
                                  <option *ngFor="let item of years" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div>
                              <button type="submit" class="btn btn-icon-only mb-0" >
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </button>
                            </div>
                          </div>
                         </form>
                    </div>
                  </div>
                  <br>
                  <div class="card-header border-0">
                    <h5>Recherche par province</h5>
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" >
                      <div class="row">
                        <div class="col-md-6 col-lg-12" >
                          <form [formGroup]="searchForm" (submit)="onSubmitSearchByProvince()">
                          <div class="row">
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="province" class="form-control" >
                                  <option  value="">--Choisir une province--</option>
                                  <option *ngFor="let item of provinces" value="{{item.name}}">{{item.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="mois" class="form-control" >
                                  <option  value="">--Choisir un mois--</option>
                                  <option *ngFor="let item of months" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="year" class="form-control" >
                                  <option  value="">--Choisir une année--</option>
                                  <option *ngFor="let item of years" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div>
                              <button type="submit" class="btn btn-icon-only mb-0" >
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </button>
                            </div>
                          </div>
                         </form>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- Light table -->
                  <div class="table-responsive">
                    <table  class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col" class="sort" data-sort="numContrat">Code</th>
                            <th scope="col" class="sort" data-sort="contact">Client</th>
                            <th scope="col" class="sort" data-sort="nameClient">Bordereau banque</th>
                            <th scope="col" class="sort" data-sort="typeClient">Mois</th>
                            <th scope="col" class="sort" data-sort="secteurActivite">Date de paiement</th>
                            <th scope="col" class="sort" data-sort="numLocale">Montant</th>
                            
                          </tr>
                        </thead>
                        <tbody class="list">
                          <tr  *ngFor="let item of mensualites | paginate: { itemsPerPage: 50, currentPage: p }| filter:term">

                            <td>{{item.codeMensualite}}</td>
                            <td>{{item.nomClient}}</td>
                            <td>{{item.numeroBodereau}}</td>
                            <td>{{item.mois}}</td>
                            <td>{{item.dateVersement}}</td>
                            <td>{{item.montant+' USD'}}</td>
                            

                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
        </div>
      <br>
      <div  class="card-body">
        <div class="m-3">
          <canvas id="st1Chart"></canvas>
        </div>
      </div>
      <br>
      <div  class="card-body">
        <div class="m-3">
          <canvas id="st2Chart"></canvas>
        </div>
      </div>
        <app-footer></app-footer>
    </div>
</div>






