<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-8">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item " ><a href="admin/payments">Paiements</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="#">Gestion de paiements</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                    <div class="row">
                        <div class="col-xl-5 col-md-6  mr-1">
                          <h3 class="mb-0"><a type="button" class="btn btn-outline-primary" (click)="getContratActifs()"> <i class="fa fa-list"></i>&nbsp; Contrats actifs({{lists.length}})</a></h3>
                        </div>
                        <div class="col-xl-5 col-md-6  mr-1">
                          <h3 class="mb-0"><a type="button" class="btn btn-outline-info" (click)="getMensualites()"> <i class="fa fa-list"></i>&nbsp; Paiements effectuer</a> </h3>
                        </div>
                      </div>
                </div>
                  <div class="card-header border-0">
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                      <div class="row">
                        <div class="col-md-6 col-lg-4">
                          <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </div>
                              <input class="form-control" placeholder="Rechercher un contrat" [(ngModel)]="term" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-8" *ngIf="isMensualite">
                          <form [formGroup]="searchForm" (submit)="onSubmitSearch()">
                          <div class="row">
                            <div class="form-group mb-0  ">
                              <div class="input-group input-group-alternative input-group-merge">
                                <label class="mx-2">Rechercher par rapport a un mois</label>
                                <input class="form-control" placeholder="Rechercher par date" formControlName="date" type="date">
                              </div>
                            </div>
                            <div>
                              <button type="submit" class="btn btn-icon-only mb-0" >
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </button>
                            </div>
                          </div>
                         </form>
                        </div>
                        
                        <div class="col-md-6 col-lg-8" *ngIf="isContrat">
                          <form [formGroup]="searchForm" (submit)="onSubmitSearchContract()">
                          <div class="row">
                            <div class="form-group mb-0  ">
                              <div class="input-group input-group-alternative input-group-merge">
                                <label class="mx-2">Recherche Contact/Num contrat</label>
                                <input class="form-control"  formControlName="value" type="text">
                              </div>
                            </div>
                            <div>
                              <button type="submit" class="btn btn-icon-only mb-0" >
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </button>
                            </div>
                          </div>
                         </form>
                        </div>
                      </div>
                       
                    </div>
                  </div>
                  <!-- Light table -->
                  <div class="table-responsive">
                    <table *ngIf="isContrat" class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="numContrat">Numero</th>
                          <th scope="col" class="sort" data-sort="nameClient">Client</th>
                          <th scope="col" class="sort" data-sort="typeClient">Type</th>
                          <th scope="col" class="sort" data-sort="secteurActivite">Secteur d'activite</th>
                          <th scope="col" class="sort" data-sort="contact">Contact</th>
                          <th scope="col" class="sort" data-sort="numLocale">Numero local</th>
                          <th scope="col" class="sort" data-sort="representation">Adresse</th>
                          <th scope="col" class="sort" data-sort="action">Action</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <tr  *ngFor="let item of lists | paginate: { itemsPerPage: 50, currentPage: p }| filter:term">
                          <td>{{item.numContrat}}</td>
                          <td>
                            <span *ngIf="item.nameClient">{{item.nameClient}}</span>
                            <span *ngIf="!item.nameClient">Non Defini</span> 
                          <td>
                            <span *ngIf="item.typeClient">{{item.typeClient}}</span>
                            <span *ngIf="!item.typeClient">Non Defini</span>                            
                          </td>
                          <td>
                            <span *ngIf="item.secteurActivite">{{item.secteurActivite}}</span>
                            <span *ngIf="!item.secteurActivite">Non definie</span>
                          </td>
                          <td>
                            <span *ngIf="item.contact">{{item.contact}}</span>
                            <span *ngIf="!item.contact">Non Defini</span> 
                          </td>
                          <td>
                            <span *ngIf="item.occupation?.numeroOccupation">{{item.occupation?.numeroOccupation}}</span>
                            <span *ngIf="!item.occupation?.numeroOccupation">Non Identifier</span>
                          </td>
                          <td>
                            <span *ngIf="item.occupation?.locale">{{item.occupation.locale.ville+' '+item.occupation.locale?.adresse}}</span>
                            <span *ngIf="!item.occupation?.locale">Aucun local associer</span>
                            </td>
                          
                          <td class="text-right">
                             <a class="btn btn-outline-primary" type="button"  (click)="paymentForm(item)">Effectuer un paiement</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table *ngIf="isMensualite" class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col" class="sort" data-sort="numContrat">Code</th>
                            <th scope="col" class="sort" data-sort="action">Status</th>
                            <th scope="col" class="sort" data-sort="nameClient">Bordeau banque</th>
                            <th scope="col" class="sort" data-sort="typeClient">Mois</th>
                            <th scope="col" class="sort" data-sort="secteurActivite">Date de paiement</th>
                            <th scope="col" class="sort" data-sort="numLocale">Montant</th>
                            <th scope="col" class="sort" data-sort="contact">Client</th>
                          </tr>
                        </thead>
                        <tbody class="list">
                          <tr  *ngFor="let item of mensualites | paginate: { itemsPerPage: 50, currentPage: p }| filter:term">
                            
                            <td>{{item.codeMensualite}}</td>
                            <td *ngIf="item.status" class="alert alert-success">Payer</td>
                            <td *ngIf="!item.status" class="alert alert-warning">Impayer</td>
                            <td>{{item.numeroBodereau}}</td>
                            <td>{{item.mois}}</td>
                            <td>{{item.dateVersement}}</td>
                            <td>{{item.montant+' USD'}}</td>
                            <td>{{item.contrat?.nameClient}}</td>
                            
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>


<button [hidden]="true" type="button" id="openMensualiteForm" data-toggle="modal" data-target="#mensualiteFormModal">
</button>

<!-- model add user -->
<div  class="modal draggable fade bd-example-modal-lg" id="mensualiteFormModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onSubmit(selectedItem.id)" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title text-center">Paiement mensualite</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        
            <h6 class="heading-small text-muted mb-4">Formulaire</h6>
            <div class="pl-lg-4">
              
                <div class="form-group">
                    <label class="form-control-label" >Numero de bordereau du paiement</label>
                    <input type="text" formControlName="numeroBodereau"  class="form-control" placeholder="Numero de bordereau du paiement">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Montant en USD</label>
                    <input type="number" formControlName="montant"  class="form-control" placeholder="Montant">
                  </div>
                  
                  <div class="form-group">
                    <label class="form-control-label" >Mois et Annee</label>
                    <input type="date" formControlName="date" class="form-control" placeholder="Choisir un moi et une date">
                  </div>   
            </div>
              
         
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-mensualite-close">Fermer</button>
      <button type="submit"  class="btn btn-primary">Enregistrer</button>
    </div>
    </form> 
  </div>
  
</div>
</div>




