<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-8">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="/admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page"><span>{{currentLocale?.designation}}</span></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6 mb-4">
      <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header border-0">
                <h2>Detail d'une parcelle</h2>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="table-responsive">
                            <table class="table table-bordered align-items-center table-flush">
                                    <tr>
                                        <th>Province</th>
                                        <td>{{currentLocale.province}}</td>
                                    </tr>
                                    <tr>
                                        <th>Ville</th>
                                        <td>{{currentLocale.ville}}</td>
                                    </tr>
                                    <tr>
                                        <th>Commune/Localite</th>
                                        <td>{{currentLocale.commune}}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{currentLocale.adresse}}</td>
                                    </tr>
                                    <tr>
                                        <th>Designation</th>
                                        <td>{{currentLocale.designation}}</td>
                                    </tr>
                                    <tr>
                                        <th>Denomination</th>
                                        <td>{{currentLocale.denomination}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reference</th>
                                        <td>{{currentLocale.reference}}</td>
                                    </tr>
                            </table>
                            </div>
                      </div>
                      <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table table-bordered align-items-center table-flush ">
                                        
                                  
                                  <tr>
                                    <th>Superficie</th>
                                    <td>{{currentLocale.superficie+' m2'}}</td>
                                  </tr>
                                       
                                  <tr>
                                    <th>Observation</th>
                                    <td>{{currentLocale.observation}}</td>
                                  </tr>
                                        
                                  <tr>
                                    <th>Date de mise en service<th>
                                     <td>{{currentLocale.miseEnService}}</td>
                                   </tr> 
                                   <tr>
                                      <th>Longitude</th>
                                      <td>{{currentLocale.longitude}}</td>
                                    </tr>
                                        
                                    <tr>
                                      <th>Latitude</th>
                                      <td>{{currentLocale.latitude}}</td>
                                    </tr>
                                          
                                    <tr>
                                      <th>Altitude<th>
                                      <td>{{currentLocale.accuracy}}</td>
                                    </tr> 
                                    <tr>
                                      
                                      <td><a href="#" type="button"  data-toggle="modal" data-target="#viewPicturesModal" class="btn">Voir les images <i class="fa fa-images"></i></a></td>
                                      <td><a href="#" type="button"  data-toggle="modal" data-target="#addPicturesModal" class="btn btn-outline-info">Ajouter des images <i class="fa fa-plus"></i></a></td>
                                    </tr>  
                                </table>
                            </div>
                        
                      </div>
                  </div>
                
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                    <div class="mx-5 text-center">
                      <h3><strong>Situation d'occupation des locaux</strong> </h3>
                    </div>
                      <div class="row">
                          <div class="col-xl-3 col-md-6 alert alert-secondary">
                            <h3 class="mb-0"><a type="button" class="btn btn-outline-info" (click)="getOccupationByLocale()"><i class="fa fa-list"></i>&nbsp;Les locaux({{alls.length}})</a></h3>
                          </div>
                          <div class="col-xl-3 col-md-6 alert alert-secondary mr-1">
                            <h3 class="mb-0"><a type="button" class="btn btn-outline-success" (click)="getOccupationLibre()"><i class="fa fa-list"></i>&nbsp;Libres ({{libres.length}})</a> </h3>
                          </div>
                          <div class="col-xl-3 col-md-6 alert alert-secondary mr-1">
                            <h3 class="mb-0 "><a type="button" class="btn btn-outline-warning" (click)="getOccupationOcuppe()"> <i class="fa fa-list"></i>&nbsp;Occupes ({{occupes.length}})</a></h3>
                          </div>
                    
                          <div class="col-xl-2 col-md-6 alert alert-secondary">
                            <a href="#" type="button"  data-toggle="modal" data-target="#addOccupationModal" class="btn  btn-outline-primary"> <i class="fa fa-plus"></i>&nbsp; Local</a>
                          </div>
                        </div>
                  </div>
                  <div *ngIf="message" class="card-header border-0">
                    <div  class="alert alert-warning">
                        <span>{{message}}</span>
                    </div>
                  </div>
                  <!-- Light table -->
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="sort" data-sort="numContrat">Local numero</th>
                          <th scope="col" class="sort" data-sort="nameClient">Superficie</th>
                          <th scope="col" class="sort" data-sort="typeClient">Montant</th>
                          <th scope="col" class="sort" data-sort="secteurActivite">Status</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <tr  *ngFor="let item of lists | paginate: { itemsPerPage: 20, currentPage: p }">
                          <td>{{item.numeroOccupation}}</td>
                          <td>{{item.supperficieOccupation+' m2'}}</td>
                          <td>{{item.montantOccupation+' USD'}}</td>
                          <td *ngIf="item.status" class="alert alert-warning">Occuper</td>
                          <td *ngIf="!item.status" class="alert alert-success">Libre</td>
                          
                          <td class="text-right">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="/admin/occupation/contrats/{{item.id}}">Voir les contrats &nbsp; <i class="fa fa-eye"></i></a>
                                <a class="dropdown-item" type="button"   (click)="editItem(item)">Edit &nbsp; <i class="fa fa-edit"></i></a>
                                
                                <a class="dropdown-item" type="button"   (click)="deleteItem(item.id)">Supprimer &nbsp; <i class="fa fa-trash"></i></a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<button [hidden]="true" type="button" id="openEdit" data-toggle="modal" data-target="#editOccupationModal">
</button>




<!-- model add user -->
<div  class="modal draggable fade bd-example-modal-lg" id="addOccupationModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onSubmit()" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title text-center">Nouveau local</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        
            <h6 class="heading-small text-muted mb-4">Formulaire</h6>
            <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" >Numero du local</label>
                    <input type="text" formControlName="numeroOccupation"  class="form-control" placeholder="Numero du local">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Superficie</label>
                    <input type="number" formControlName="supperficieOccupation"  class="form-control" placeholder="Superficie du local">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Montant locatif</label>
                    <input type="number" formControlName="montantOccupation"  class="form-control" placeholder="Montant locatif du local">
                  </div>
            </div>
              
         
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-occupation-close">Fermer</button>
      <button type="submit"  class="btn btn-primary">Enregistrer</button>
    </div>
    </form> 
  </div>
  
</div>
</div>

<!-- model view pictures -->
<div  class="modal draggable fade bd-example-modal-lg" id="viewPicturesModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center">Detail Images</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="currentLocale.files?.length > 0">
            <div class="pl-lg-4" *ngFor="let item of currentLocale.files">
              <div class="picture">
                <p><img src="{{item}}" class="image" alt="{{item}}">&nbsp; <a class="btn btn-danger" (click)="removeFile(item)"><i class="fa fa-trash"></i></a></p><br>
              </div>
                
            </div>
      </div>
      <div *ngIf="currentLocale.files?.length == 0">
            <div class="pl-lg-4">
                  <div class="alert alert-warning">
                    <span>Ooops, vous n'avez aucune image charger pour cette parcelle</span>
                  </div>
            </div>
      </div>
            
    </div>
    <div class="modal-footer">
      <button type="button"  class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Fermer</button>
    </div>
  </div>
  
</div>
</div>

<!-- model view pictures -->
<div  class="modal draggable fade bd-example-modal-lg" id="addPicturesModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center">Ajout Images</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input type="file" multiple (change)="selectFiles($event)">
    </div>
    <div class="modal-footer">
      <button type="button"  class="btn btn-secondary" data-dismiss="modal" id="add-picture-close" aria-label="Close">Fermer</button>
      <button  class="btn btn-primary" [disabled]="!selectedFiles"
                  (click)="uploadFiles()">Enregistrer</button>
    </div>
    
  </div>
  
</div>
</div>

<!-- model add user -->
<div  class="modal draggable fade bd-example-modal-lg" id="editOccupationModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onEditSubmit(selectedItem.id)" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title text-center">Modification local</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        
            <h6 class="heading-small text-muted mb-4">Formulaire</h6>
            <div class="pl-lg-4">
              
                <div class="form-group">
                    <label class="form-control-label" >Numero du local</label>
                    <input type="text" formControlName="numeroOccupation"  class="form-control" placeholder="Numero du local">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Superficie</label>
                    <input type="number" formControlName="supperficieOccupation"  class="form-control" placeholder="Superficie du local">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Montant locatif</label>
                    <input type="number" formControlName="montantOccupation"  class="form-control" placeholder="Montant locatif du local">
                  </div>
                
            </div>
              
         
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="edit-occupation-close">Fermer</button>
      <button type="submit"  class="btn btn-primary">Enregistrer</button>
    </div>
    </form> 
  </div>
  
</div>
</div>




