<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-8">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item " ><a href="admin/clients">Clients</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                      <div class="row">
                          <div class="col-xl-3 col-md-6  mr-1">
                            <h3 class="mb-0"><a type="button" class="btn btn-outline-info" (click)="getAll()"> <i class="fa fa-users"></i>&nbsp; Clients ({{lists.length}})</a></h3>
                          </div>
                          <div class="col-xl-3 col-md-6 mr-1">
                            <h3 class="mb-0"><a type="button" class="btn btn-outline-warning" (click)="getAncienClients()"><i class="fa fa-user-lock"></i>&nbsp; Anciens ({{anciens.length}})</a> </h3>
                          </div>
                          <div class="col-xl-3 col-md-6 mr-1">
                            <h3 class="mb-0 "><a type="button" class="btn btn-outline-success" (click)="getClientActifs()"><i class="fa fa-user-check"></i>&nbsp;Actifs ({{actifs.length}})</a></h3>
                          </div>
                    
                          
                        </div>
                  </div>
                  <div class="card-header border-0">
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0">
                          <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Rechercher un client" [(ngModel)]="term" type="text">
                          </div>
                        </div>
                    </div>
                  </div>
                  <!-- Light table -->
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="numContrat">Numero</th>
                          <th scope="col" class="sort" data-sort="nameClient">Client</th>
                          <th scope="col" class="sort" data-sort="typeClient">Type de client</th>
                          <th scope="col" class="sort" data-sort="secteurActivite">Secteur d'activite</th>
                          <th scope="col" class="sort" data-sort="numLocale">Local</th>
                          <th scope="col" class="sort" data-sort="representation">Adresse</th>
                          <th scope="col" class="sort" data-sort="contact">Contact</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <tr  *ngFor="let item of lists | paginate: { itemsPerPage: 50, currentPage: p }| filter:term">
                          <td>{{item.numContrat}}</td>
                          <td>
                            <span *ngIf="item.nameClient">{{item.nameClient}}</span>
                            <span *ngIf="!item.nameClient">Nom du client non defini</span>
                          </td>
                          <td>
                            <span *ngIf="item.typeClient">{{item.typeClient}}</span>
                            <span *ngIf="!item.typeClient">Type de client non defini</span>
                          </td>
                          <td>
                            <span *ngIf="item.secteurActivite">{{item.secteurActivite}}</span>
                            <span *ngIf="!item.secteurActivite">Secteur d'activite non defini</span>
                          </td>
                          <td>{{item?.occupation?.numeroOccupation}}</td>
                          <td>{{item?.occupation?.locale?.ville+' '+item?.occupation?.locale?.adresse}}</td>
                          <td>
                            <span *ngIf="item.contact">{{item.contact}}</span>
                            <span *ngIf="!item.contact">Pas de contact pour ce client</span> 
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>


<button [hidden]="true" type="button" id="openDetail" data-toggle="modal" data-target="#detailContratModal">
</button>


<!-- model add user -->



