<nav class="navbar navbar-expand alert alert-info">
  <a href="/" class="navbar-brand">SCPT IMMO</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="/root-home" class="nav-link" routerLink="root-home">Acceuil </a>
    </li>
    <li class="nav-item">
      <a href="/root-locales" class="nav-link" *ngIf="isLoggedIn" routerLink="root-locales">Locaux </a>
    </li>

    <li class="nav-item">
      <a href="/root-contrats" class="nav-link" *ngIf="isLoggedIn" routerLink="root-contrats">Contrats</a>
    </li>
    <li class="nav-item">
      <a href="/root-clients" class="nav-link" *ngIf="isLoggedIn" routerLink="root-clients"> Clients</a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link" routerLink="login">Connexion</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">Deconnexion</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
