 <!-- Sidenav -->
 <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header my-2  align-items-center">
        <a   href="javascript:void(0)">
          <img src="assets/img/brand/logo.png" style="width: 90px;height:90px;" alt="">
          <h1>SCPT DGI</h1>

        </a>
      </div>
      <hr>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isAdminTest || isCommercial || isProvincial">
              <a class="nav-link btn btn-outline-secondary" href="/admin/locations">
                <i class="ni ni-map-big"></i>
                <span class="nav-link-text">Parcelles</span>
              </a>
            </li>
            <li class="nav-item" *ngIf="isAdminTest || isFinance">
                <a class="nav-link btn btn-outline-secondary" href="/admin/payments">
                  <i class="ni ni-money-coins"></i>
                  <span class="nav-link-text">Paiements</span>
                </a>
              </li>
            <li class="nav-item" *ngIf="isAdminTest || isFinance">
              <a class="nav-link btn btn-outline-secondary" href="/admin/factures">
                <i class="ni ni-money-coins"></i>
                <span class="nav-link-text">Bordereaux</span>
              </a>
            </li>
            <li class="nav-item" *ngIf="isAdminTest || isCommercial || isProvincial">
              <a class="nav-link btn btn-outline-secondary" href="/admin/dossiers">
                <i class="ni ni-circle-08"></i>
                <span class="nav-link-text">Dossiers</span>
              </a>
            </li>
            <li class="nav-item" *ngIf="isAdminTest || isProvincial">
              <a class="nav-link btn btn-outline-secondary" href="/admin/contrats">
                <i class="ni ni-ruler-pencil"></i>
                <span class="nav-link-text">Contrats</span>
              </a>
            </li>
            <li  class="nav-item" *ngIf="isAdminTest || isProvincial">
              <a class="nav-link btn btn-outline-secondary" href="/admin/users">
                <i class="ni ni-single-02"></i>
                <span class="nav-link-text">Utilisateurs</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
