<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="/admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page"><span>Parcelles</span></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                      <div class="row">
                          <div class="col-4 alert alert-secondary">
                            <h3 class="mb-0"><a type="button" class="btn btn-outline-primary" (click)="loadList()"><i class="fa fa-list"></i>&nbsp; Liste des parcelles ({{lists.length}})</a></h3>
                          </div>

                          <div class="col-4 alert alert-secondary">
                            <a  type="button"  (click)="exportToExcel()" class="btn btn-md btn-outline-info">Exporter sur excel &nbsp;<i class="fa fa-file"></i></a>
                          </div>
                          <div class="col-4 alert alert-secondary">
                            <a href="#" type="button"  data-toggle="modal" data-target="#addRepresentationModal" class="btn btn-md btn-outline-success">Ajouter une parcelle&nbsp;<i class="fa fa-plus"></i></a>
                          </div>
                        </div>
                  </div>
                  <div class="card-header border-0">
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0">
                          <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Recherche rapide" [(ngModel)]="term" type="text">
                          </div>
                        </div>
                        <br>
                    </div>
                  </div>
                  <div class="card-header border-0">
                    <div class="navbar-search navbar-search-light " id="navbar-search-main">
                        <div class="ml-2" >
                          <div class="alert alert-default text-center">
                            <span>Recherche par rapport a une ville</span>
                          </div>
                          <form [formGroup]="searchForm" (submit)="onSubmitSearch()">
                            <div class="row">
                              <div class="col-md-6 col-lg-5">
                                <div class="form-group mb-0  ">
                                  <select formControlName="province" #province (change)="changeProvince(province.value)"  class="form-control">
                                      <option  value="">--Choisir une province--</option>
                                      <option *ngFor="let item of provinces" value="{{item.name}}">{{item.name}}</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-5">
                                <div class="form-group mb-0  ">
                                  <select formControlName="value" class="form-control">
                                      <option  value="">--Choisir une ville--</option>
                                      <option *ngFor="let item of villes" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                              </div>

                              <div class="col-md-6 col-lg-2">
                                <button type="submit" class="btn btn-outline-primary" >
                                  <span >Chercher &nbsp;&nbsp;<i class="fas fa-search"></i></span>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                  </div>
                  <!-- Light table -->
                  <div *ngIf="lists.length > 0" class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="sort" data-sort="province">Province</th>
                          <th scope="col" class="sort" data-sort="ville">Ville</th>
                          <th scope="col" class="sort" data-sort="avenue">Adresse</th>
                          <th scope="col" class="sort" data-sort="numParcelle">Mise en service</th>
                          <th scope="col" class="sort" data-sort="observation">Refference</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <tr *ngFor="let item of lists | paginate: { itemsPerPage: 50, currentPage: p } | filter:term">
                          <td>
                            <span *ngIf="item.province">{{item.province}}</span>
                            <span *ngIf="!item.province">Inconnue</span>
                          </td>
                          <td>
                            <span *ngIf="item.ville">{{item.ville}}</span>
                            <span *ngIf="!item.ville">Inconnue</span>
                          </td>
                          <td>
                            <span *ngIf="item.adresse">{{item.adresse}}</span>
                            <span *ngIf="!item.adresse">Non Defini</span>
                          </td>

                          <td>
                            <span *ngIf="item.miseEnService">{{item.miseEnService}}</span>
                            <span *ngIf="!item.miseEnService">Inconnu</span>
                          </td>
                          <td>
                            <span *ngIf="item.reference">{{item.reference}}</span>
                            <span *ngIf="!item.reference">Aucune reference definie</span>
                          </td>
                          <td class="text-right">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="/admin/locations/detail/{{item.id}}">Detail &nbsp;<i class="fa fa-eye"></i></a>
                                <a class="dropdown-item" type="button"  (click)="editItem(item)">Edit &nbsp; <i class="fa fa-edit"></i></a>
                                <a class="dropdown-item" type="button"  (click)="deleteItem(item.id)">Supprimer &nbsp; <i class="fa fa-trash"></i></a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="lists.length <= 0" class="card">
                    <div class="alert alert-danger">
                      <div class="text-center">
                        <i class="fa fa-info-circle fa-3x"></i>
                        <br>
                        <span>Oooops, aucune parcelle ne correspond a vote recherche</span>
                      </div>
                    </div>
                  </div>
                  <!-- Card footer -->
                  <div *ngIf="lists.length > 0" class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<button [hidden]="true" type="button" id="openEdit" data-toggle="modal" data-target="#editRepresentationModal">
</button>

<!-- model add user -->
<div  class="modal draggable fade bd-example-modal-lg" id="addRepresentationModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onSubmit()" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title text-center">Nouvelle parcelle</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>

            <h6 class="heading-small text-muted mb-4">Formulaire</h6>
            <div class="pl-lg-4">

                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Province</label>
                    <select formControlName="province" #province1 (change)="changeProvince(province1.value)"  class="form-control" >
                        <option  value="">--None--</option>
                        <option *ngFor="let item of provinces" value="{{item.name}}">{{item.name}}</option>
                    </select>

                  </div>

                  <div class="form-group">
                    <label class="form-control-label" >Ville</label>
                    <select formControlName="ville" #vil (change)="changeVille(vil.value)" class="form-control" >
                      <option  value="">--None--</option>
                        <option *ngFor="let item of villes" value="{{item.nom}}">{{item.nom}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Commune</label>
                    <select formControlName="commune" class="form-control" >
                      <option  value="">--None--</option>
                        <option *ngFor="let item of communes" value="{{item.nom}}">{{item.nom}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Adresse physique</label>
                    <input type="text" formControlName="adresse"  class="form-control" placeholder="Adresse ">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Designation</label>
                    <input type="text" formControlName="designation"  class="form-control" placeholder="Designation">
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" >Denomination</label>
                    <input type="text" formControlName="denomination"  class="form-control" placeholder="Denomination">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Reference ou titre(registre)</label>
                    <input type="text" formControlName="reference"  class="form-control" placeholder="Reference ou titre(registre)">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Superficie m2</label>
                    <input type="number" formControlName="superficie"  class="form-control" placeholder="Superficie">
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" >Observation</label>
                    <textarea formControlName="observation"  class="form-control" placeholder="Observation" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Date de mise en service</label>
                    <input type="date" formControlName="miseEnService"  class="form-control" placeholder="Date de mise en service">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Longitude</label>
                    <input type="text" formControlName="longitude"  class="form-control" placeholder="Longitude">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Latitude</label>
                    <input type="text" formControlName="latitude"  class="form-control" placeholder="Latitude">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Altitude</label>
                    <input type="text" formControlName="accuracy"  class="form-control" placeholder="Altitude">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Degre d'urbanisation</label>
                    <input type="text" formControlName="urbanDegre"  class="form-control" placeholder="Degre d'urbanisation">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Etat physique</label>
                    <input type="text" formControlName="etatPhysique"  class="form-control" placeholder="Etat physique">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Taux de location $/m2</label>
                    <input type="number" formControlName="locationRate"  class="form-control" placeholder="Taux de location">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Taux de revenu locatif %</label>
                    <input type="number" formControlName="revenuRate"  class="form-control" placeholder="Taux de revenu locatif">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Coeficiant de ponderation</label>
                    <input type="number" formControlName="ponderation"  class="form-control" placeholder="Coeficiant de ponderation">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Taux IRL</label>
                    <input type="number" formControlName="rateIRL"  class="form-control" placeholder="Taux IRL">
                  </div>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-representation-close">Fermer</button>
      <button type="submit"  class="btn btn-primary">Enregistrer</button>
    </div>
    </form>
  </div>

</div>
</div>

<!-- model add user -->
<div  class="modal draggable fade bd-example-modal-lg" id="addLocalModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onSubmitFile()" >
    <div class="modal-header">
      <h5 class="modal-title text-center">Charger un fichier excel</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>

            <h6 class="heading-small text-muted mb-4">Formulaire</h6>
            <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" >Fichier </label>
                    <input type="file" name="file"  (change)="onFilesSelect($event)" class="form-control" >
                    <span class="fake-input">{{imgURL || "Aucune image ajouter"}}</span>
                  </div>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-file-close">Fermer</button>
      <button type="submit"  class="btn btn-primary">Enregistrer</button>
    </div>
    </form>
  </div>

</div>
</div>

<!-- model add user -->
<div  class="modal draggable fade bd-example-modal-lg" id="editRepresentationModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onEditSubmit(selectedItem.id)" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title text-center">Modification d'une parcelle</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>

            <h6 class="heading-small text-muted mb-4">Formulaire</h6>
            <div class="pl-lg-4">

              <div class="form-group">
                <label class="form-control-label" for="input-username">Province</label>
                <select formControlName="province" #provi (change)="changeProvince(provi.value)" class="form-control" >
                  <option  value="">--None--</option>
                    <option *ngFor="let item of provinces" value="{{item.name}}">{{item.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label" >Ville</label>
                <select formControlName="ville" #vil1 (change)="changeVille(vil1.value)" class="form-control" >
                  <option  value="">--None--</option>
                    <option *ngFor="let item of villes" value="{{item.nom}}">{{item.nom}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-control-label" >Commune/Territoire</label>
                <select formControlName="commune" class="form-control" >
                  <option  value="">--None--</option>
                    <option *ngFor="let item of communes" value="{{item.nom}}">{{item.nom}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-control-label" >Adresse physique</label>
                <input type="text" formControlName="adresse"  class="form-control" placeholder="Adresse ">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Designation</label>
                <input type="text" formControlName="designation"  class="form-control" placeholder="Designation">
              </div>

              <div class="form-group">
                <label class="form-control-label" >Denomination</label>
                <input type="text" formControlName="denomination"  class="form-control" placeholder="Denomination">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Reference ou titre(registre)</label>
                <input type="text" formControlName="reference"  class="form-control" placeholder="Reference ou titre(registre)">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Superficie m2</label>
                <input type="number" formControlName="superficie"  class="form-control" placeholder="Superficie">
              </div>

              <div class="form-group">
                <label class="form-control-label" >Observation</label>
                <textarea formControlName="observation"  class="form-control" placeholder="Observation" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label class="form-control-label" >Date de mise en service</label>
                <input type="date" formControlName="miseEnService"  class="form-control" placeholder="Date de mise en service">
              </div>
              <div class="form-group">
                    <label class="form-control-label" >Longitude</label>
                    <input type="text" formControlName="longitude"  class="form-control" placeholder="Longitude">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Latitude</label>
                    <input type="text" formControlName="latitude"  class="form-control" placeholder="Latitude">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Altitude</label>
                    <input type="text" formControlName="accuracy"  class="form-control" placeholder="Altitude">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Degre d'urbanisation</label>
                    <input type="text" formControlName="urbanDegre"  class="form-control" placeholder="Degre d'urbanisation">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Etat physique</label>
                    <input type="text" formControlName="etatPhysique"  class="form-control" placeholder="Etat physique">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Taux de location $/m2</label>
                    <input type="number" formControlName="locationRate"  class="form-control" placeholder="Taux de location">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Taux de revenu locatif %</label>
                    <input type="number" formControlName="revenuRate"  class="form-control" placeholder="Taux de revenu locatif">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Coeficiant de ponderation</label>
                    <input type="number" formControlName="ponderation"  class="form-control" placeholder="Coeficiant de ponderation">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" >Taux IRL</label>
                    <input type="number" formControlName="rateIRL"  class="form-control" placeholder="Taux IRL">
                  </div>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="edit-representation-close">Fermer</button>
      <button type="submit"  class="btn btn-primary">Enregistrer</button>
    </div>
    </form>
  </div>

</div>
</div>
