<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-8">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="/admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item " ><a href="/admin/factures">Bordereaux</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="#">Recherche des bordereaux</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                      <div class="row">
                        <div class="form-group mb-0">
                          <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Recherche rapide" [(ngModel)]="term" type="text">
                          </div>
                        </div>
                        
                        <div>
                          <a type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#produceBordereauModal"> <i class="fa fa-address-card"></i>&nbsp; Produire des bordereaux</a>
                        </div>
                          &nbsp;&nbsp;
                        <div>
                          <a type="button" class="btn btn-outline-primary" (click)="exportToExcel()"> <i class="fa fa-file-export"></i>&nbsp; Exporter sur excel</a>
                        </div>
                      </div>
                      
                      <hr>
                      <form [formGroup]="searchForm" (submit)="onSubmitSearch()">
                        <div class="row">
                          <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                              <select formControlName="mois" class="form-control" >
                                <option  value="">--Choisir un mois--</option>
                                <option *ngFor="let item of months" value="{{item}}">{{item}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                              <select formControlName="year" class="form-control" >
                                <option  value="">--Choisir une année--</option>
                                <option *ngFor="let item of years" value="{{item}}">{{item}}</option>
                              </select>
                            </div>
                          </div>
                          <div>
                            <button type="submit" class="btn btn-icon-only mb-0" >
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- Light table -->
                  <div class="table-responsive">
                    <table *ngIf="lists != null && lists.length > 0"  class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col" class="sort" data-sort="numContrat">Code Contrat</th>
                            <th scope="col" class="sort" data-sort="numContrat">Nom Client</th>
                            <th scope="col" class="sort" data-sort="action">Mois</th>
                            <th scope="col" class="sort" data-sort="nameClient">Année</th>
                            <th scope="col" class="sort" data-sort="typeClient">Motif</th>
                            <th scope="col" class="sort" data-sort="contact">Montant</th>
                            <th scope="col" class="sort" data-sort="action">Actions</th>
                          </tr>
                        </thead>
                        <tbody class="list">
                          <tr  *ngFor="let item of lists | paginate: { itemsPerPage: 50, currentPage: p }| filter:term">

                            <td>{{item.numContrat}}</td>
                            <td>{{item.nomClient}}</td>
                            <td>{{item.mois}}</td>
                            <td>{{item.annee}}</td>
                            <td>{{item.motif}}</td>
                            <td>{{item.montant+' USD'}}</td>
                            <td *ngIf="!item.status">
                              <a class="badge bagde-primary text-info"  type="button"   (click)="payment(item)">Effectuer paiement</a>
                            </td>
                            <td *ngIf="item.status">
                              Paiement effectué
                            </td>

                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf="lists != null && lists.length < 1" class="alert alert-warning">
                          <span>{{message}}</span>
                      </div>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>

                </div>
              </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<button [hidden]="true" type="button" id="openPayment" data-toggle="modal" data-target="#paymentModal">
</button>
<div  class="modal draggable fade bd-example-modal-lg" id="paymentModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="onMakePayment()">
        <div class="modal-header">
          <h5 class="modal-title text-center">Effectuer le paiement d'une facture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>

            <div class="pl-lg-4">
              
              <div class="form-group">
                <label class="form-control-label" >Nom du client</label>
                <input type="text" formControlName="clientName"  class="form-control" placeholder="Nom du client">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Numero d'identite</label>
                <input type="text" formControlName="idNumber"   class="form-control" placeholder="Numero d'identite">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Montant</label>
                <input type="number" formControlName="amount"   class="form-control" placeholder="Montant a payé">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Numero de transaction</label>
                <input type="text" formControlName="transactionNumber"   class="form-control" placeholder="Numero de la transaction">
              </div>
              <div class="form-group">
                <label class="form-control-label" >Matricule de l'agent</label>
                <input type="text" formControlName="agentCode"   class="form-control" placeholder="Matricule de l'agent">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePayment">Fermer</button>
          <button type="submit"  class="btn btn-primary">Confirmer</button>
        </div>
      </form>
    </div>

  </div>
</div>


<div  class="modal draggable fade bd-example-modal-lg" id="produceBordereauModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (submit)="onGenerate()" [formGroup]="generateForm">
    <div class="modal-header">
      <h5 class="modal-title text-center">Geneger bordereau</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>

            <div class="pl-lg-4">
                  
                  <div class="form-group">
                    <label class="form-control-label" >Niveau de generation</label>
                    <select formControlName="niveau" class="form-control" >
                        <option value="">-- Choisir --</option>
                        <option value="NATIONAL">NATIONAL</option>
                        <option value="PROVINCIAL">PROVINCIAL</option>
                    </select>
                  </div>
                <div class="form-group">
                    <label class="form-control-label" >Province</label>
                    <select formControlName="province" class="form-control" >
                      <option value="">-- Choisir une province --</option>
                        <option *ngFor="let item of provinces" value="{{item.name}}">{{item.name}}</option>
                    </select>
                  </div>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeGenerate">Fermer</button>
      <button type="submit"  class="btn btn-primary">Produire</button>
    </div>
    </form>
  </div>

</div>
</div>






