<app-sidebar></app-sidebar>
<div class="main-content" id="panel">
    <app-header></app-header>
    <div class="header pb-6 ">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-8">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="/admin/locations"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item " ><a href="/admin/statistiques">Statistiques</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="#">Gestion des statistique</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                  <!-- Card header -->
                  
                  <div class="card-header border-0">
                    <h5>Recherche Nationale</h5>
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                     
                        <form [formGroup]="form" (submit)="retrievesNational()">
                          <div class="row">
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="month" class="form-control" >
                                  <option  value="">--Choisir un mois--</option>
                                  <option *ngFor="let item of mois" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="year" class="form-control" >
                                  <option  value="">--Choisir une année--</option>
                                  <option *ngFor="let item of years" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="input-group input-group-alternative input-group-merge">
                                  <select formControlName="province" class="form-control" >
                                    <option  value="">--Choisir une option--</option>
                                    <option  value="NATIONALE">NATIONALE</option>
                                    <option  value="NATIONALE AVEC DETAIL PAR PROVINCE">NATIONALE AVEC DETAIL PAR PROVINCE</option>
                                  </select>
                                </div>
                              </div>
                            <div>
                              <button type="submit" class="btn btn-icon-only mb-0" >
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </button>
                            </div>
                          </div>
                         </form>
                    </div>
                  </div>
                  <br>
                  <div class="card-header border-0">
                    <h5>Recherche par province</h5>
                    <div class="navbar-search navbar-search-light form-inline mr-sm-3" >
                      <div class="row">
                        <div class="col-md-6 col-lg-12" >
                          <form [formGroup]="provinceForm" (submit)="retrievesProvince()">
                          <div class="row">
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="province" class="form-control" >
                                  <option  value="">--Choisir une province--</option>
                                  <option *ngFor="let item of provinces" value="{{item.name}}">{{item.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="month" class="form-control" >
                                  <option  value="">--Choisir un mois--</option>
                                  <option *ngFor="let item of mois" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative input-group-merge">
                                <select formControlName="year" class="form-control" >
                                  <option  value="">--Choisir une année--</option>
                                  <option *ngFor="let item of years" value="{{item}}">{{item}}</option>
                                </select>
                              </div>
                            </div>
                            <div>
                              <button type="submit" class="btn btn-icon-only mb-0" >
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </button>
                            </div>
                          </div>
                         </form>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- Light table -->
                  <div class="table-responsive">
                    <table  class="table align-items-center table-bordered ">
                        <thead class="thead-light">
                          <tr class="text-center">
                            <th scope="col" rowspan="2" class="sort" data-sort="entityName">Entite</th>
                            <th scope="col" colspan="3" class="sort" data-sort="action">Locaux</th>
                            <th scope="col" colspan="5" class="sort" data-sort="nameClient">Montant</th>
                          </tr>
                          <tr>
                            <th scope="col" class="sort" data-sort="entityName">Occupés</th>
                            <th scope="col"  class="sort" data-sort="action">Libres</th>
                            <th scope="col"  class="sort" data-sort="nameClient">Total</th>
                            <th scope="col"  data-sort="entityName">Locaux occupés payés</th>
                            <th scope="col"  class="sort" data-sort="action">Locaux occupés impayés</th>
                            <th scope="col"  class="sort" data-sort="nameClient">Locaux occupés total</th>
                            <th scope="col"  class="sort" data-sort="action">Locaux libres</th>
                            <th scope="col"  class="sort" data-sort="nameClient">Total</th>
                          </tr>
                        </thead>
                        <tbody class="list">
                          <tr *ngFor="let item of lists">
                            <td>{{item.entityName}}</td>
                            <td>{{item.nombreLocauxOccupe}}</td>
                            <td>{{item.nombreLocauxLibre}}</td>
                            <td>{{item.nombreTotalLocaux}}</td>
                            <td>{{item.montantLocauxOccupePayer+' USD'}}</td>
                            <td>{{item.montantLocauxOccupeImpayer+' USD'}}</td>
                            <td>{{item.montantLocauxOccupe+' USD'}}</td>
                            <td>{{item.montantLocauxLibre+' USD'}}</td>
                            <td>{{item.montantTotalLocaux+' USD'}}</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
        </div>
      <br>
      <div  class="card-body">
        <div class="m-3">
            <a type="button" class="btn btn-outline-primary" (click)="exportToExcel()"><i class="fa fa-file-export"></i>&nbsp;Exporter en EXCEL</a>
        </div>
      </div>
      
        <app-footer></app-footer>
    </div>
</div>






